{{ if ne .chezmoi.os "darwin" -}}
#!/bin/bash
# Sync WezTerm config to Windows home on every change.
# Hash: {{ includeTemplate "dot_wezterm.lua.tmpl" . | sha256sum }}
WIN_HOME="/mnt/c/Users/${USER}"
if [[ -d "$WIN_HOME" ]]; then
  cp "$HOME/.wezterm.lua" "$WIN_HOME/.wezterm.lua"
fi
{{ end -}}
