{
  "editor.fontFamily": "{{ .font }}",
  "editor.fontSize": 14,
  "editor.fontLigatures": true,
  "editor.minimap.enabled": false,
  "editor.formatOnSave": true,
  "editor.tabSize": 2,
  "workbench.colorTheme": "Catppuccin Mocha",
  "terminal.integrated.fontFamily": "{{ .font }}",
  "terminal.integrated.fontSize": 14
}
